/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
  /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none;
}

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type=checkbox],
[type=radio] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type=search] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none;
}

/* martel-700 - latin */
@font-face {
  font-family: "Martel";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/martel-v9-latin-700.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/martel-v9-latin-700.eot?#iefix") format("embedded-opentype"), url("../fonts/martel-v9-latin-700.woff2") format("woff2"), url("../fonts/martel-v9-latin-700.woff") format("woff"), url("../fonts/martel-v9-latin-700.ttf") format("truetype"), url("../fonts/martel-v9-latin-700.svg#Martel") format("svg");
  /* Legacy iOS */
}
/* martel-900 - latin */
@font-face {
  font-family: "Martel";
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/martel-v9-latin-900.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/martel-v9-latin-900.eot?#iefix") format("embedded-opentype"), url("../fonts/martel-v9-latin-900.woff2") format("woff2"), url("../fonts/martel-v9-latin-900.woff") format("woff"), url("../fonts/martel-v9-latin-900.ttf") format("truetype"), url("../fonts/martel-v9-latin-900.svg#Martel") format("svg");
  /* Legacy iOS */
}
/* open-sans-regular - latin */
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../fonts/open-sans-v28-latin-regular.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/open-sans-v28-latin-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/open-sans-v28-latin-regular.woff2") format("woff2"), url("../fonts/open-sans-v28-latin-regular.woff") format("woff"), url("../fonts/open-sans-v28-latin-regular.ttf") format("truetype"), url("../fonts/open-sans-v28-latin-regular.svg#OpenSans") format("svg");
  /* Legacy iOS */
}
/* open-sans-600 - latin */
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url("../fonts/open-sans-v28-latin-600.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/open-sans-v28-latin-600.eot?#iefix") format("embedded-opentype"), url("../fonts/open-sans-v28-latin-600.woff2") format("woff2"), url("../fonts/open-sans-v28-latin-600.woff") format("woff"), url("../fonts/open-sans-v28-latin-600.ttf") format("truetype"), url("../fonts/open-sans-v28-latin-600.svg#OpenSans") format("svg");
  /* Legacy iOS */
}
/* open-sans-700 - latin */
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("../fonts/open-sans-v28-latin-700.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/open-sans-v28-latin-700.eot?#iefix") format("embedded-opentype"), url("../fonts/open-sans-v28-latin-700.woff2") format("woff2"), url("../fonts/open-sans-v28-latin-700.woff") format("woff"), url("../fonts/open-sans-v28-latin-700.ttf") format("truetype"), url("../fonts/open-sans-v28-latin-700.svg#OpenSans") format("svg");
  /* Legacy iOS */
}
/* montserrat-regular - latin */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../fonts/montserrat-v23-latin-regular.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/montserrat-v23-latin-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/montserrat-v23-latin-regular.woff2") format("woff2"), url("../fonts/montserrat-v23-latin-regular.woff") format("woff"), url("../fonts/montserrat-v23-latin-regular.ttf") format("truetype"), url("../fonts/montserrat-v23-latin-regular.svg#Montserrat") format("svg");
  /* Legacy iOS */
}
/* montserrat-500 - latin */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("../fonts/montserrat-v23-latin-500.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/montserrat-v23-latin-500.eot?#iefix") format("embedded-opentype"), url("../fonts/montserrat-v23-latin-500.woff2") format("woff2"), url("../fonts/montserrat-v23-latin-500.woff") format("woff"), url("../fonts/montserrat-v23-latin-500.ttf") format("truetype"), url("../fonts/montserrat-v23-latin-500.svg#Montserrat") format("svg");
  /* Legacy iOS */
}
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Open Sans", sans-serif;
}

header {
  background-color: #F6F6F6;
}

.header__block-wrapper {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  min-height: 772px;
  background: url(../../img/background.jpg);
}

.header__menu-mobile {
  display: none;
}

.header__menu-disappear {
  display: none;
}

.header__wrapper {
  padding-left: 136px;
  display: flex;
}

.header__logo {
  margin-top: 23px;
  width: 186px;
  min-height: 58px;
}

.header__navigation {
  margin-top: 40px;
  margin-left: 13px;
}

.header__promo {
  display: grid;
  grid-template-columns: minmax(auto, 509px);
  grid-template-rows: auto;
  margin-top: 125px;
  margin-left: 195px;
  min-height: 173px;
}

@media screen and (max-width: 720px) {
  .header__wrapper {
    padding-left: 35px;
    padding-right: 35px;
    display: flex;
    justify-content: space-between;
  }
  .header__navigation {
    display: none;
  }
  .header__menu-mobile {
    display: block;
    margin-top: 40px;
    margin-left: 13px;
  }
  .header__menu-disappear {
    display: block;
  }
}
@media screen and (max-width: 576px) {
  .header__promo {
    display: block;
    width: 327px;
    margin: 0 auto;
    margin-top: 125px;
    min-height: 173px;
  }
}
.logo__img {
  width: 76px;
  height: 32px;
}

.logo__link:hover {
  opacity: 0.7;
}
.logo__link:active {
  opacity: 0.4;
}

.navigation__item {
  display: flex;
}
.navigation__list {
  list-style: none;
  margin-left: 24px;
}
.navigation__link {
  font-family: "Open Sans", sans-serif;
  text-decoration: none;
  font-size: 14px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0.2px;
  color: #737373;
}
.navigation__link:hover {
  color: #252B42;
}

.promo__title {
  display: block;
  width: 509px;
  min-height: 195px;
  text-align: left;
  font-family: "Martel", serif;
  font-size: 58px;
  font-weight: 900;
  line-height: 60px;
  letter-spacing: 0.2px;
  color: #252B42;
}
.promo__information {
  display: block;
  width: 376px;
  min-height: 60px;
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
  letter-spacing: 0.2px;
  color: #737373;
}
.promo__links {
  display: flex;
  min-height: 48px;
}
.promo__link, .promo__link-consultation, .promo__link--brown {
  display: block;
  width: 182px;
  min-height: 48px;
  text-decoration: none;
  margin-top: 35px;
  margin-left: 10px;
  padding-top: 10px;
  font-size: 14px;
  font-weight: 700;
  line-height: 28px;
  letter-spacing: 0.2px;
  background-color: transparent;
  border: 1px solid #784F33;
  border-radius: 37px;
  color: #784F33;
  text-align: center;
  cursor: pointer;
}
.promo__link--brown {
  margin-left: -10px;
  background-color: #784F33;
  color: white;
}
.promo__link-consultation {
  border: none;
  width: 300px;
  margin-top: 30px;
  margin-left: -55px;
  font-weight: 400;
}
.promo__link-consultation:hover {
  color: black;
}

@media screen and (max-width: 720px) {
  .promo__title {
    display: block;
    width: 327px;
    min-height: 150px;
    text-align: center;
    font-family: "Martel", serif;
    font-size: 40px;
    font-weight: 0;
    line-height: 50px;
    letter-spacing: 0.2px;
    color: #252B42;
  }
  .promo__information {
    display: block;
    width: 279px;
    min-height: 120px;
    font-family: "Montserrat", sans-serif;
    text-align: center;
    padding-left: 15px;
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
    letter-spacing: 0.2px;
    color: #737373;
  }
}
@media screen and (max-width: 420px) {
  .promo__links {
    display: flex;
    flex-direction: column;
    min-height: 48px;
  }

  .promo__title {
    display: block;
    width: 320px;
    min-height: 150px;
    text-align: center;
    font-family: "Martel", serif;
    font-size: 37px;
    font-weight: 700;
    line-height: 50px;
    letter-spacing: 0.2px;
    color: #252B42;
  }

  .promo__link, .promo__link--brown, .promo__link-consultation {
    display: block;
    margin: 0 auto;
    width: 182px;
    min-height: 48px;
    text-decoration: none;
    margin-top: 25px;
    padding-top: 10px;
    margin-bottom: 20px;
    font-size: 14px;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: 0.2px;
    background-color: transparent;
    border: 1px solid #784F33;
    border-radius: 37px;
    color: #784F33;
    text-align: center;
    cursor: pointer;
  }
  .promo__link--brown {
    background-color: #784F33;
    color: white;
    margin-bottom: 0px;
  }
}
.advantages__wrapper {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
}
.advantages__title {
  width: 419px;
  min-height: 50px;
  margin-top: 145px;
  margin-left: 193px;
  font-family: "Martel", serif;
  font-size: 40px;
  font-weight: 700;
  line-height: 50px;
  letter-spacing: 0.2px;
  color: #252B42;
}
.advantages__text {
  width: 431px;
  min-height: 40px;
  margin-top: 10px;
  margin-bottom: 45px;
  margin-left: 193px;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.2px;
  color: #737373;
}
.advantages__link-wrapper {
  display: grid;
  width: 347px;
  min-height: 48px;
  grid-template-columns: repeat(2, minmax(auto, 1fr));
  grid-gap: 10px;
  grid-auto-rows: auto;
  margin-top: 50px;
  margin-bottom: 50px;
  margin-left: 193px;
}
.advantages__links, .advantages__links--blue {
  border: 1px solid #295C7A;
  border-radius: 37px;
  text-align: center;
  padding-top: 10px;
  text-decoration: none;
  font-size: 14px;
  font-weight: 700;
  line-height: 28px;
  letter-spacing: 0.2px;
  color: #295C7A;
}
.advantages__links--blue {
  background-color: #295C7A;
  color: white;
}

@media screen and (max-width: 768px) {
  .advantages__link-wrapper {
    display: grid;
    width: 347px;
    min-height: 48px;
    grid-template-columns: minmax(auto, 155px);
    grid-template-rows: repeat(2, 48px);
    grid-gap: 10px;
    grid-auto-rows: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 193px;
  }
  .advantages__title {
    width: 300px;
    min-height: 50px;
    margin-top: 145px;
    margin-left: 193px;
    font-family: "Martel", serif;
    font-size: 40px;
    font-weight: 700;
    line-height: 50px;
    letter-spacing: 0.2px;
    color: #252B42;
  }
  .advantages__text {
    width: 300px;
    min-height: 40px;
    margin-top: 10px;
    margin-bottom: 45px;
    margin-left: 193px;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0.2px;
    color: #737373;
  }
}
@media screen and (max-width: 576px) {
  .advantages__title {
    width: 259px;
    min-height: 100px;
    margin-top: 145px;
    margin-left: 42px;
    font-family: "Martel", serif;
    font-size: 40px;
    font-weight: 700;
    line-height: 50px;
    letter-spacing: 0.2px;
    color: #252B42;
  }
  .advantages__text {
    width: 206px;
    min-height: 80px;
    margin-top: 10px;
    margin-bottom: 45px;
    margin-left: 42px;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0.2px;
    color: #737373;
  }
  .advantages__link-wrapper {
    display: grid;
    width: 240px;
    min-height: 48px;
    grid-template-columns: minmax(auto, 155px);
    grid-template-rows: repeat(2, 48px);
    grid-gap: 10px;
    grid-auto-rows: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 42px;
  }
}
.menu-mobile__items {
  display: flex;
}

.menu-mobile__list {
  list-style: none;
  margin-left: 24px;
}

.menu-disappear {
  margin-top: 100px;
}
.menu-disappear__item {
  display: grid;
  grid-template-columns: 112px;
  grid-template-rows: repeat(autofit, minmax(45px, auto));
  grid-gap: 15px;
  justify-items: center;
  justify-content: center;
}
.menu-disappear__list {
  list-style: none;
}
.menu-disappear__link {
  text-decoration: none;
  font-size: 30px;
  font-weight: 400;
  line-height: 45px;
  letter-spacing: 0.2px;
  color: #737373;
}

.cards {
  display: grid;
  grid-template-columns: repeat(3, minmax(auto, 328px));
  grid-template-rows: repeat(2, 112px);
  grid-auto-flow: dense;
  grid-gap: 15px;
  margin-right: 150px;
  margin-left: 195px;
}
.cards__list {
  display: flex;
  list-style: none;
  border: 1px solid #E2E2E2;
  border-radius: 2px;
}
.cards__img {
  width: 72px;
  height: 72px;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 20px;
}
.cards__text {
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0.2px;
  color: #737373;
  margin-top: 40px;
  margin-right: 15px;
  margin-bottom: 7px;
  margin-left: 15px;
}

@media screen and (max-width: 992px) {
  .cards {
    display: grid;
    grid-template-columns: repeat(2, minmax(auto, 328px));
    grid-template-rows: repeat(autofill, 112px);
    grid-auto-flow: dense;
    grid-gap: 15px;
    margin-right: 150px;
    margin-left: 195px;
  }
}
@media screen and (max-width: 768px) {
  .cards {
    display: grid;
    grid-template-columns: 328px;
    grid-template-rows: repeat(autofill, 112px);
    grid-auto-flow: dense;
    grid-gap: 15px;
    margin-left: 193px;
  }
}
@media screen and (max-width: 576px) {
  .cards {
    display: grid;
    grid-template-columns: 280px;
    grid-template-rows: repeat(autofill, 112px);
    grid-auto-flow: dense;
    grid-gap: 15px;
    justify-content: center;
    margin-left: 130px;
  }
}
.footer__wrapper {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  margin-top: 80px;
  margin-bottom: 80px;
}
.footer__item-title {
  font-family: "Martel", serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
  letter-spacing: 0.1px;
  color: #252B42;
  margin-bottom: 15px;
}
.footer__list {
  list-style: none;
  margin-top: 10px;
}
.footer__link {
  text-decoration: none;
  width: 95px;
  color: #737373;
  font-size: 14px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0.2px;
}
.footer__social-media-link {
  margin-right: 20px;
}
.footer__social-media-link:hover {
  opacity: 0.7;
}
.footer__social-media-link:active {
  opacity: 0.3;
}
.footer__mobile-block {
  display: none;
}

@media screen and (max-width: 600px) {
  .footer__wrapper {
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    margin-top: 80px;
    margin-bottom: 80px;
  }
  .footer__item-title {
    margin-left: 86.5px;
  }
  .footer__item {
    margin-bottom: 30px;
    margin-left: 86.5px;
  }
  .footer__mobile-block {
    display: block;
    width: 209px;
    min-height: 48px;
    margin: 0 auto;
    text-align: center;
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.2px;
    color: #737373;
    margin-bottom: 25px;
  }
}
.about-us__wrapper {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
}
.about-us__introduction {
  display: block;
  margin-top: 100px;
}
.about-us__main-information {
  display: flex;
  margin-top: 100px;
}

@media screen and (max-width: 850px) {
  .about-us__main-information {
    display: block;
    margin: 0 auto;
  }
}
.introduction__title {
  text-align: center;
  font-size: 40px;
  font-weight: 700;
  line-height: 50px;
  letter-spacing: 0.2px;
  font-family: "Martel", serif;
  color: #252B42;
}
.introduction__text {
  width: 468px;
  margin: 0 auto;
  text-align: center;
  margin-top: 15px;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.2px;
  color: #737373;
}

@media screen and (max-width: 576px) {
  .introduction__title {
    text-align: center;
    font-size: 40px;
    font-weight: 700;
    line-height: 50px;
    letter-spacing: 0.2px;
    font-family: "Martel", serif;
    color: #252B42;
  }
  .introduction__text {
    width: 205px;
    margin: 0 auto;
    text-align: center;
    margin-top: 15px;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0.2px;
    color: #737373;
  }
}
.main-information {
  margin-bottom: 100px;
}
.main-information__video {
  width: 500px;
  min-height: 442px;
  margin-top: -50px;
  margin-left: 153px;
}

@media screen and (max-width: 1100px) {
  .main-information__video {
    width: 400px;
    min-height: 442px;
    margin-top: -50px;
    margin-left: 93px;
  }
}
@media screen and (max-width: 850px) {
  .main-information__video {
    display: block;
    width: 400px;
    min-height: 442px;
    margin: 0 auto;
  }
}
@media screen and (max-width: 460px) {
  .main-information__video {
    display: block;
    width: 333px;
    min-height: 442px;
    margin: 0 auto;
  }
}
@media screen and (max-width: 350px) {
  .main-information__video {
    display: block;
    width: 290px;
    min-height: 442px;
    margin: 0 auto;
  }
}
.text-information {
  display: block;
  width: 300px;
  min-height: 424px;
  margin-right: 15px;
  margin-left: 15px;
  margin: 0 auto;
}
.text-information__title {
  width: 321px;
  min-height: 100px;
  text-align: left;
  font-size: 40px;
  font-weight: 700;
  line-height: 50px;
  letter-spacing: 0.2px;
  color: #252B42;
  font-family: "Martel", serif;
}
.text-information__text {
  width: 306px;
  min-height: 60px;
  margin-top: 10px;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.2px;
  color: #737373;
}
.text-information__cards {
  display: flex;
  margin-top: 30px;
}
.text-information__icon {
  width: 32px;
  height: 32px;
}
.text-information__card-wrapper {
  margin-left: 20px;
}
.text-information__card-title {
  font-family: "Martel", serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0.1px;
  color: #252B42;
}
.text-information__card-text {
  margin-top: 5px;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0.2px;
  color: #737373;
}

@media screen and (max-width: 576px) {
  .text-information {
    display: block;
    width: 280px;
    min-height: 424px;
  }
}
@media screen and (max-width: 460px) {
  .text-information {
    display: block;
    margin: 0 auto;
  }
  .text-information__title {
    width: 280px;
    min-height: 100px;
    margin: 0 auto;
  }
  .text-information__text {
    width: 280px;
    min-height: 60px;
    margin-top: 10px;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0.2px;
    color: #737373;
  }
}
.comment {
  background-color: #295C7A;
}
.comment__wrapper {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  min-height: 671px;
}
.comment__title {
  display: block;
  padding-top: 80px;
}
.comment__header {
  text-align: center;
  font-family: "Martel", serif;
  font-size: 40px;
  font-weight: 700;
  line-height: 50px;
  letter-spacing: 0.2px;
  color: #fff;
}
.comment__text {
  width: 431px;
  min-height: 40px;
  margin: 0 auto;
  margin-top: 10px;
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.2px;
  color: #fff;
}
.comment__comments-wrapper {
  margin-top: 50px;
}
.comment__item {
  display: grid;
  grid-template-columns: repeat(3, minmax(auto, 460px));
  grid-auto-rows: auto;
  grid-auto-flow: dense;
  grid-gap: 80px;
  padding-bottom: 120px;
}
.comment__list {
  list-style: none;
}
.comment__comments-text-wrapper {
  display: block;
  background-color: #fff;
  min-height: 288px;
  margin-top: -130px;
}
.comment__author {
  width: 96px;
  height: 96px;
  margin-top: 60px;
  margin-left: -60px;
}
.comment__author-name {
  padding-top: 30px;
  padding-left: 60px;
  font-family: "Martel", serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 0.1px;
  color: #252B42;
}
.comment__author-job {
  padding-left: 60px;
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0.2px;
  color: #737373;
}
.comment__stars-wrapper {
  margin-top: 15px;
  margin-left: 60px;
}
.comment__stars {
  width: 22px;
}
.comment__author-text {
  min-height: 120px;
  margin-top: 15px;
  margin-left: 60px;
  padding-bottom: 30px;
  margin-right: 60px;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.2px;
  color: #737373;
}

@media screen and (max-width: 960px) {
  .comment__item {
    display: grid;
    grid-template-columns: minmax(auto, 460px);
    grid-auto-rows: auto;
    grid-auto-flow: dense;
    justify-content: center;
  }
}
@media screen and (max-width: 600px) {
  .comment__item {
    display: grid;
    grid-template-columns: minmax(auto, 350px);
    grid-auto-rows: auto;
    grid-auto-flow: dense;
    justify-content: center;
  }
}
@media screen and (max-width: 576px) {
  .comment__header {
    width: 226px;
    min-height: 100px;
    margin: 0 auto;
    text-align: center;
    font-family: "Martel", serif;
    font-size: 40px;
    font-weight: 700;
    line-height: 50px;
    letter-spacing: 0.2px;
    color: #fff;
  }
  .comment__text {
    width: 238px;
    min-height: 80px;
    margin: 0 auto;
    margin-top: 10px;
    text-align: center;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0.2px;
    color: #fff;
  }
  .comment__item {
    display: grid;
    grid-template-columns: minmax(auto, 300px);
    grid-auto-rows: auto;
    grid-auto-flow: dense;
    justify-content: center;
  }
}
@media screen and (max-width: 450px) {
  .comment__author {
    width: 90px;
    height: 90px;
    margin-top: 60px;
    margin-left: -40px;
  }
  .comment__item {
    display: grid;
    grid-template-columns: minmax(auto, 250px);
    grid-auto-rows: auto;
    grid-auto-flow: dense;
    justify-content: center;
  }
}
.attorneys {
  display: block;
  min-height: 608px;
}
.attorneys__wrapper {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
}
.attorneys__header {
  margin-top: 80px;
  text-align: center;
  font-family: "Martel", serif;
  font-size: 40px;
  font-weight: 700;
  line-height: 50px;
  letter-spacing: 0.2px;
  color: #252B42;
}
.attorneys__introduction {
  display: none;
}
.attorneys__information-wrapper {
  margin-top: 100px;
  display: grid;
  grid-template-columns: minmax(auto, 1050px);
  grid-template-rows: 1fr;
  justify-content: center;
}
.attorneys__item {
  display: grid;
  grid-template-columns: repeat(4, minmax(auto, 228px));
  grid-auto-rows: auto;
  grid-gap: 30px;
  justify-items: center;
  margin-bottom: 80px;
}
.attorneys__list {
  list-style: none;
  display: block;
  min-height: 291px;
  justify-self: center;
}
.attorneys__photo {
  width: 128px;
  height: 128px;
  margin-top: 30px;
}
.attorneys__job {
  margin-top: 5px;
  text-align: center;
  color: #624a19;
  font-size: 14px;
  font-weight: 900;
  line-height: 24px;
  letter-spacing: 0.2px;
}
.attorneys__name {
  font-family: "Martel", serif;
  font-size: 16px;
  font-weight: 700;
  text-align: center;
  margin-top: 5px;
  line-height: 24px;
  letter-spacing: 0.1px;
  color: #252B42;
}
.attorneys__information {
  width: 136px;
  min-height: 40px;
  margin: 0 auto;
  margin-top: 5px;
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.2px;
  color: #737373;
}

@media screen and (max-width: 800px) {
  .attorneys__item {
    display: grid;
    grid-template-columns: repeat(2, minmax(auto, 228px));
    grid-auto-rows: auto;
    grid-gap: 30px;
    justify-items: center;
    margin-bottom: 80px;
    justify-content: center;
  }
}
@media screen and (max-width: 490px) {
  .attorneys__introduction {
    display: block;
    width: 238px;
    min-height: 80px;
    text-align: center;
    margin: 0 auto;
    margin-top: 10px;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0.2px;
    color: #737373;
  }
  .attorneys__header {
    width: 204px;
    min-height: 100px;
    margin: 0 auto;
    margin-top: 80px;
    text-align: center;
    font-family: "Martel", serif;
    font-size: 40px;
    font-weight: 700;
    line-height: 50px;
    letter-spacing: 0.2px;
    color: #252B42;
  }
  .attorneys__item {
    display: grid;
    grid-template-columns: minmax(auto, 228px);
    grid-auto-rows: auto;
    grid-gap: 30px;
    justify-items: center;
    margin-bottom: 80px;
    justify-content: center;
  }
  .attorneys__information-wrapper {
    margin-top: 45px;
    display: grid;
    grid-template-columns: minmax(auto, 1050px);
    grid-template-rows: 1fr;
    justify-content: center;
  }
}
.request__information {
  background-color: #252B42;
  display: block;
  min-height: 807px;
}
.request__text-wrapper {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}
.request__header {
  display: grid;
  grid-template-columns: minmax(auto, 456px);
  grid-template-rows: minmax(100, auto);
  margin-top: 100px;
  margin-left: 15px;
  font-family: "Martel", serif;
  font-size: 40px;
  font-weight: 700;
  line-height: 50px;
  letter-spacing: 0.2px;
  color: #fff;
}
.request__text {
  display: grid;
  grid-template-columns: minmax(auto, 414px);
  grid-template-rows: minmax(100, auto);
  margin-top: 15px;
  margin-left: 15px;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.2px;
  color: #fff;
}
.request__mainland {
  width: 414px;
  height: 269px;
  margin-top: 123px;
  margin-left: 30px;
}
.request__form-wrapper {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  min-height: 737px;
}
.request__form-card {
  display: flex;
  justify-content: center;
  margin-top: -342px;
}
.request__form {
  display: grid;
  grid-template-columns: minmax(auto, 688px);
  grid-template-rows: 1fr 4fr;
  background-color: #F9F9F9;
}

@media screen and (max-width: 1100px) {
  .request__text-wrapper {
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
    display: grid;
    grid-auto-columns: auto;
    grid-auto-rows: auto;
    justify-items: center;
  }
  .request__mainland {
    width: 313px;
    height: 169px;
    margin-top: 123px;
    margin-left: 30px;
  }
  .request__form-card {
    display: flex;
    justify-content: center;
    margin-top: 0px;
  }
}
@media screen and (max-width: 985px) {
  .request__form-card {
    display: flex;
    flex-direction: column;
  }
  .request__form {
    display: grid;
    grid-template-columns: minmax(auto, 688px);
    grid-template-rows: 1fr 4fr;
    justify-items: center;
    justify-content: center;
    background-color: #F9F9F9;
    margin-right: 5px;
  }
  .request__form-photo {
    margin: 0 auto;
    display: grid;
    grid-template-columns: minmax(auto, 414px);
    justify-items: center;
  }
}
@media screen and (max-width: 460px) {
  .request__header {
    display: block;
    width: 310px;
    min-height: 150px;
    margin-top: 125px;
  }
  .request__text {
    display: block;
    width: 279px;
    min-height: 160px;
  }
  .request__mainland {
    width: 250px;
    height: auto;
    margin-top: 80px;
    margin-left: 0px;
  }
}
@media screen and (max-width: 420px) {
  .request__form-photo {
    width: 300px;
    height: auto;
  }
}
.form__title {
  display: grid;
  grid-template-columns: minmsx(auto, 579px);
  grid-auto-rows: auto;
  margin-top: 50px;
  margin-left: 40px;
  font-family: "Martel", serif;
  font-size: 40px;
  font-weight: 700;
  line-height: 50px;
  letter-spacing: 0.2px;
  color: #252B42;
}
.form__feedback {
  display: grid;
  grid-template-columns: minmax(auto, 588px);
  grid-template-rows: 50px;
  grid-gap: 5px;
  margin-left: 50px;
}
.form__label {
  align-self: end;
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0.2px;
  color: #252B42;
}
.form__input, .form__input:active {
  border: 1px solid #BDBDBD;
  border-radius: 5px;
  background-color: #F9F9F9;
}
.form__input:active {
  border: 1px solid #000;
  border-radius: 0px;
}
.form__input::-moz-placeholder, .form__input:active::-moz-placeholder {
  font-family: "Martel", serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0.2px;
  color: #737373;
  padding-top: 11px;
  padding-left: 21px;
}
.form__input:-ms-input-placeholder, .form__input:active:-ms-input-placeholder {
  font-family: "Martel", serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0.2px;
  color: #737373;
  padding-top: 11px;
  padding-left: 21px;
}
.form__input::placeholder, .form__input:active::placeholder {
  font-family: "Martel", serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0.2px;
  color: #737373;
  padding-top: 11px;
  padding-left: 21px;
}
.form__button {
  margin-top: 40px;
  margin-bottom: 40px;
  background-color: #784F33;
  color: #fff;
  font-size: 14px;
  font-weight: 700;
  line-height: 28px;
  letter-spacing: 0.2px;
  text-align: center;
  border-radius: 5px;
}
.form__description {
  display: none;
}

.skip-links {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.skip-links__link {
  text-decoration: none;
  color: white;
  position: absolute;
  top: -3em;
}
.skip-links__link:focus {
  margin-left: 30px;
  top: 0;
  width: 200px;
  min-height: 50px;
  background-color: #252B42;
  padding-top: 20px;
  text-align: center;
}
.skip-links__link:hover {
  color: #737373;
}/*# sourceMappingURL=style.css.map */




