@page {
    size: A4;
    margin: 1cm;
  }
  
  @media print {
  
    *,
    *::before,
    *::after {
      background: #fff !important;
      color: #000 !important;
      box-shadow: none !important;
      text-shadow: none !important;
    }
  
    section {
      page-break-inside: avoid;
    }
  
    .footer__link, .footer__link:visited {
      text-decoration: underline;
    }
  
    .request__form, .logo, nav, .promo__links, 
    .advantages__link-wrapper, .main-information__video,
    .request__mainland, .request__form-photo{
    display: none;
    }
  
    .comment__item {
      display: grid;
      grid-template-columns: 550px;
      grid-auto-rows: auto;
      grid-auto-flow: dense;
      justify-content: center;
      grid-gap: 40px;
  
    }
  
    .comment__list {
      page-break-inside: avoid;
    }
  
  
  
      .cards {
          display: grid;
          grid-template-columns: repeat(2, 328px);
          grid-template-rows: repeat(autofill, 112px);
          grid-auto-flow: dense;
          grid-gap:15px;
          margin-left: 1cm;
      }
  
      .attorneys__item {
          display: grid;
          grid-template-columns: repeat(2, 228px);
          grid-auto-rows: auto;
          grid-gap: 30px;
          justify-items: center;
          justify-content: center;
      }
  
      .promo__title {
        display: block;
        width:569px;
        margin-top: 3cm;
        min-height: 195px;
        text-align: left;
        font-size: 68px;
        font-weight: 900;
        line-height: 70px;
        letter-spacing: 0.2px;
    }
  
    .promo__information {
      display: block;
      width: 456px;
      min-height: 60px;
      font-size: 30px;
      font-weight: 500;
      line-height: 30px;
      letter-spacing: 0.2px;  
    }
  
    .header__promo {
      margin-left: 2cm;
    }
  
    .advantages__title {
      width: 600px;
      min-height: 50px;
      padding-top: 2cm;
      margin-left: 1cm;
      font-size: 50px;
      font-weight: 700;
      line-height: 50px;
      letter-spacing: 0.2px;
  }
  
  .advantages__text {
    width: 560px;
    min-height: 40px;
    margin-top: 0.5cm;
    margin-left: 1cm;
    font-size: 20px;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: 0.2px;
    text-align: center;
  }
  
  .introduction__title {
    text-align: center;
    padding-top: 2cm;
    font-size: 50px;
    font-weight: 700;
    line-height: 50px;
    letter-spacing: 0.2px;
  }
  
  .introduction__text {
    width: 558px;
    margin-top: 0.5cm;
    text-align: center;
    font-size: 20px;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: 0.2px;
  }
  
  .text-information__title {
    width: 401px;
    min-height: 100px;
    text-align: left;
    font-size: 35px;
    font-weight: 700;
    line-height: 50px;
    letter-spacing: 0.2px;
  }
  
  .comment__title {
    display: block;
    padding-top: 2cm;
  }
  
      
  .comment__header {
    text-align: center;
    font-size: 50px;
    font-weight: 700;
    line-height: 50px;
    letter-spacing: 0.2px;
  }
  
  .comment__text {
    width: 501px;
    min-height: 40px;
    margin: 0 auto;
    margin-top: 0.35cm;
    text-align: center;
    font-size: 20px;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: 0.2px;
  }
  
  .attorneys__header {
    padding-top: 2cm;
    text-align: center;
    font-size: 50px;
    font-weight: 700;
    line-height: 50px;
    letter-spacing: 0.2px;
  }
  
  .request__header {
    display: block;
    width: 530px;
    min-height: 100px;
    padding-top: 2cm;
    margin-left: 1cm;
    font-size: 50px;
    font-weight: 700;
    line-height: 50px;
    letter-spacing: 0.2px;
  }
  
  .request__text {
    display: block;
    width: 500px;
    min-height: 100px;
    margin-top: 0.6cm;
    margin-left: 1cm;
    font-size: 20px;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: 0.2px;
  }
  
  .request__information {
    min-height: 200px;
  }
  
  .footer__wrapper {
    margin-bottom: 10px;
  }
  
  .text-information__text {
    width: 420px;
    min-height: 60px;
    margin-top: 0.45px;
    font-size: 18px;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: 0.2px;
  }
  
  .text-information {
    margin-left: 4cm;
  }

  .footer__wrapper {
    display: none;
  }
  
  }