/* martel-700 - latin */
@font-face {
    font-family: 'Martel';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url('../fonts/martel-v9-latin-700.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../fonts/martel-v9-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/martel-v9-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/martel-v9-latin-700.woff') format('woff'), /* Modern Browsers */
         url('../fonts/martel-v9-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/martel-v9-latin-700.svg#Martel') format('svg'); /* Legacy iOS */
  }
  /* martel-900 - latin */
  @font-face {
    font-family: 'Martel';
    font-style: normal;
    font-weight: 900;
    font-display: swap;
    src: url('../fonts/martel-v9-latin-900.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../fonts/martel-v9-latin-900.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/martel-v9-latin-900.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/martel-v9-latin-900.woff') format('woff'), /* Modern Browsers */
         url('../fonts/martel-v9-latin-900.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/martel-v9-latin-900.svg#Martel') format('svg'); /* Legacy iOS */
  }

  /* open-sans-regular - latin */
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('../fonts/open-sans-v28-latin-regular.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../fonts/open-sans-v28-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/open-sans-v28-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/open-sans-v28-latin-regular.woff') format('woff'), /* Modern Browsers */
         url('../fonts/open-sans-v28-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/open-sans-v28-latin-regular.svg#OpenSans') format('svg'); /* Legacy iOS */
  }
  /* open-sans-600 - latin */
  @font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: url('../fonts/open-sans-v28-latin-600.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../fonts/open-sans-v28-latin-600.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/open-sans-v28-latin-600.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/open-sans-v28-latin-600.woff') format('woff'), /* Modern Browsers */
         url('../fonts/open-sans-v28-latin-600.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/open-sans-v28-latin-600.svg#OpenSans') format('svg'); /* Legacy iOS */
  }
  /* open-sans-700 - latin */
  @font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url('../fonts/open-sans-v28-latin-700.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../fonts/open-sans-v28-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/open-sans-v28-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/open-sans-v28-latin-700.woff') format('woff'), /* Modern Browsers */
         url('../fonts/open-sans-v28-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/open-sans-v28-latin-700.svg#OpenSans') format('svg'); /* Legacy iOS */
  }

  /* montserrat-regular - latin */
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('../fonts/montserrat-v23-latin-regular.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../fonts/montserrat-v23-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/montserrat-v23-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/montserrat-v23-latin-regular.woff') format('woff'), /* Modern Browsers */
         url('../fonts/montserrat-v23-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/montserrat-v23-latin-regular.svg#Montserrat') format('svg'); /* Legacy iOS */
  }
  /* montserrat-500 - latin */
  @font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url('../fonts/montserrat-v23-latin-500.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../fonts/montserrat-v23-latin-500.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/montserrat-v23-latin-500.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/montserrat-v23-latin-500.woff') format('woff'), /* Modern Browsers */
         url('../fonts/montserrat-v23-latin-500.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/montserrat-v23-latin-500.svg#Montserrat') format('svg'); /* Legacy iOS */
  }