@mixin reset {
    margin: 0;
    padding: 0;
}

@mixin open-sans-family {
    font-family: 'Open Sans', sans-serif;
}

@mixin martel-family {
    font-family: "Martel", serif;
}

@mixin montserrat-family {
    font-family: "Montserrat", sans-serif;
}

@mixin wrapper {
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
}