@use "../utils/variables";
@use "../utils/mixins";

.about-us {

    &__wrapper {
    @include mixins.wrapper;
    }

    &__introduction {
        display: block;
        margin-top: 100px;
    }

    &__main-information {
        display: flex;
        margin-top: 100px;
    }

}

@media screen and (max-width: 850px) {

    .about-us {

        &__main-information {
            display: block;
            margin: 0 auto;
            
        }
    }
    
}

