@use "../utils/mixins";
@use "../utils/variables";

.advantages {

    &__wrapper {
        @include mixins.wrapper;
    }

    &__title {
        width: 419px;
        min-height: 50px;
        margin-top: 145px;
        margin-left: 193px;
        @include mixins.martel-family;
        font-size: 40px;
        font-weight: 700;
        line-height: 50px;
        letter-spacing: 0.2px;
        color: variables.$deep-blue;
    }

    &__text {
        width: 431px;
        min-height: 40px;
        margin-top: 10px;
        margin-bottom: 45px;
        margin-left: 193px;
        font-size: 14px;
        font-weight: 400;
        line-height: 20px;
        letter-spacing: 0.2px;
        color: variables.$second-text-color;
    }

    &__link-wrapper {
        display: grid;
        width: 347px;
        min-height: 48px;
        grid-template-columns: repeat(2, minmax(auto, 1fr));
        grid-gap: 10px;
        grid-auto-rows: auto;
        margin-top: 50px;
        margin-bottom: 50px;
        margin-left: 193px;
    }

    &__links {
        border: 1px solid variables.$blue;
        border-radius: 37px;
        text-align: center;
        padding-top: 10px;
        text-decoration: none;
        font-size: 14px;
        font-weight: 700;
        line-height: 28px;
        letter-spacing: 0.2px;
        color: variables.$blue;

        &--blue {
            @extend .advantages__links;
            background-color: variables.$blue;
            color: white;
        }

    }
}

@media screen and (max-width: 768px) {

    .advantages {

        &__link-wrapper {
            display: grid;
            width: 347px;
            min-height: 48px;
            grid-template-columns: minmax(auto, 155px);
            grid-template-rows: repeat(2, 48px);
            grid-gap: 10px;
            grid-auto-rows: auto;
            margin-top: 50px;
            margin-bottom: 50px;
            margin-left: 193px;
        }

        &__title {
            width: 300px;
            min-height: 50px;
            margin-top: 145px;
            margin-left: 193px;
            @include mixins.martel-family;
            font-size: 40px;
            font-weight: 700;
            line-height: 50px;
            letter-spacing: 0.2px;
            color: variables.$deep-blue;
        }
    
        &__text {
            width: 300px;
            min-height: 40px;
            margin-top: 10px;
            margin-bottom: 45px;
            margin-left: 193px;
            font-size: 14px;
            font-weight: 400;
            line-height: 20px;
            letter-spacing: 0.2px;
            color: variables.$second-text-color;
        }
    
    }
    
}

@media screen and (max-width: 576px) {

    .advantages {
        &__title {
            width: 259px;
            min-height: 100px;
            margin-top: 145px;
            margin-left: 42px;
            @include mixins.martel-family;
            font-size: 40px;
            font-weight: 700;
            line-height: 50px;
            letter-spacing: 0.2px;
            color: variables.$deep-blue;
        }
    
        &__text {
            width: 206px;
            min-height: 80px;
            margin-top: 10px;
            margin-bottom: 45px;
            margin-left: 42px;
            font-size: 14px;
            font-weight: 400;
            line-height: 20px;
            letter-spacing: 0.2px;
            color: variables.$second-text-color;
        }
    

        &__link-wrapper {
            display: grid;
            width: 240px;
            min-height: 48px;
            grid-template-columns: minmax(auto, 155px);
            grid-template-rows: repeat(2, 48px);
            grid-gap: 10px;
            grid-auto-rows: auto;
            margin-top: 50px;
            margin-bottom: 50px;
            margin-left: 42px;
        }
    }
    
}