@use "../utils/variables";
@use "../utils/mixins";
@use "sass:color";


.attorneys {
    display: block;
    min-height: 608px;

    &__wrapper {
        @include mixins.wrapper;
    }

    &__header {
        margin-top: 80px;
        text-align: center;
        @include mixins.martel-family;
        font-size: 40px;
        font-weight: 700;
        line-height: 50px;
        letter-spacing: 0.2px;
        color: variables.$deep-blue;
    }

    &__introduction {
        display: none;
    }

    &__information-wrapper {
        margin-top: 100px;
        display: grid;
        grid-template-columns: minmax(auto, 1050px);
        grid-template-rows: 1fr;
        justify-content: center;
    }

    &__item {
        display: grid;
        grid-template-columns: repeat(4, minmax(auto, 228px));
        grid-auto-rows: auto;
        grid-gap: 30px;
        justify-items: center;
        margin-bottom: 80px;
    }

    &__list {
        list-style: none;
        display: block;
        min-height: 291px;
        justify-self: center;
    }

    &__photo {
        width: 128px;
        height: 128px;
        margin-top: 30px;
    }

    &__job {
        margin-top: 5px;
        text-align: center;
        color: darken(variables.$yellow, 30%);
        font-size: 14px;
        font-weight: 900;
        line-height: 24px;
        letter-spacing: 0.2px;
    }

    &__name {
        @include mixins.martel-family;
        font-size: 16px;
        font-weight: 700;
        text-align: center;
        margin-top: 5px;
        line-height: 24px;
        letter-spacing: 0.1px;
        color: variables.$deep-blue;
    }

    &__information {
        width: 136px;
        min-height: 40px;
        margin: 0 auto;
        margin-top: 5px;
        text-align: center;
        font-size: 14px;
        font-weight: 400;
        line-height: 20px;
        letter-spacing: 0.2px;
        color: variables.$second-text-color;
    }

}

@media screen and (max-width: 800px) {

    .attorneys {

        &__item {
            display: grid;
            grid-template-columns: repeat(2, minmax(auto, 228px));
            grid-auto-rows: auto;
            grid-gap: 30px;
            justify-items: center;
            margin-bottom: 80px;
            justify-content: center;
        }
    }  
}

@media screen and (max-width: 490px) {

    .attorneys {

        &__introduction {
            display: block;
            width: 238px;
            min-height: 80px;
            text-align: center;
            margin: 0 auto;
            margin-top: 10px;
            font-size: 14px;
            font-weight: 400;
            line-height: 20px;
            letter-spacing: 0.2px;
            color: variables.$second-text-color;

        }

        &__header {
            width: 204px;
            min-height: 100px;
            margin: 0 auto;
            margin-top: 80px;
            text-align: center;
            @include mixins.martel-family;
            font-size: 40px;
            font-weight: 700;
            line-height: 50px;
            letter-spacing: 0.2px;
            color: variables.$deep-blue;
        }

        &__item {
            display: grid;
            grid-template-columns: minmax(auto, 228px);
            grid-auto-rows: auto;
            grid-gap: 30px;
            justify-items: center;
            margin-bottom: 80px;
            justify-content: center;
        }

        &__information-wrapper {
            margin-top: 45px;
            display: grid;
            grid-template-columns: minmax(auto, 1050px);
            grid-template-rows: 1fr;
            justify-content: center;
        }
    }  
}