@use "../utils/variables";
@use "../utils/mixins";

.cards {
    display: grid;
    grid-template-columns: repeat(3, minmax(auto,328px));
    grid-template-rows: repeat(2, 112px);
    grid-auto-flow: dense;
    grid-gap:15px;
    margin-right: 150px;
    margin-left: 195px;

    &__list {
        display: flex;
        list-style: none;
        border: 1px solid variables.$light-gray;
        border-radius: 2px;
    }

    &__img {
        width: 72px;
        height: 72px;
        margin-top: 20px;
        margin-bottom: 20px;
        margin-left: 20px;
    }

    &__text {
        font-size: 14px;
        font-weight: 700;
        line-height: 24px;
        letter-spacing: 0.2px;
        color: variables.$second-text-color;
        margin-top: 40px;
        margin-right: 15px;
        margin-bottom: 7px;
        margin-left: 15px;
    }
}

@media screen and (max-width: 992px) {

    .cards {
        display: grid;
        grid-template-columns: repeat(2, minmax(auto,328px));
        grid-template-rows: repeat(autofill, 112px);
        grid-auto-flow: dense;
        grid-gap:15px;
        margin-right: 150px;
        margin-left: 195px;
    }
    
    
}

@media screen and (max-width: 768px) {

    .cards {
        display: grid;
        grid-template-columns: 328px;
        grid-template-rows: repeat(autofill, 112px);
        grid-auto-flow: dense;
        grid-gap:15px;
        margin-left: 193px;
    }
    
    
}

@media screen and (max-width: 576px) {

    .cards {
        display: grid;
        grid-template-columns: 280px;
        grid-template-rows: repeat(autofill, 112px);
        grid-auto-flow: dense;
        grid-gap:15px;
        justify-content: center;
        margin-left: 130px;
    }
    
}