@use "../utils/variables";
@use "../utils/mixins";

.comment {

    background-color: variables.$blue;

    &__wrapper {
        @include mixins.wrapper;
        min-height: 671px;
    }
    &__title {
        display: block;
        padding-top: 80px;
        
    }

    
    &__header {
        text-align: center;
        @include mixins.martel-family;
        font-size: 40px;
        font-weight: 700;
        line-height: 50px;
        letter-spacing: 0.2px;
        color: #fff;
    }

    &__text {
        width: 431px;
        min-height: 40px;
        margin: 0 auto;
        margin-top: 10px;
        text-align: center;
        font-size: 14px;
        font-weight: 400;
        line-height: 20px;
        letter-spacing: 0.2px;
        color: #fff;
    }

    &__comments-wrapper {
        margin-top: 50px;
        
    }

    &__item {
        display: grid;
        grid-template-columns: repeat(3, minmax(auto,460px));
        grid-auto-rows: auto;
        grid-auto-flow: dense;
        grid-gap:80px;
        padding-bottom: 120px;
        
    }

    &__list { 
        list-style: none;
    }

    &__comments-text-wrapper {
        display: block;
        background-color: #fff;
        min-height: 288px;
        margin-top: -130px;
    }

    &__author {
        width: 96px;
        height: 96px;
        margin-top: 60px;
        margin-left: -60px;
    }

    &__author-name {
        padding-top: 30px;
        padding-left: 60px;
        @include mixins.martel-family;
        font-size: 24px;
        font-weight: 700;
        line-height: 30px;
        letter-spacing: 0.1px;
        color: variables.$deep-blue;
    }

    &__author-job {
        padding-left: 60px;
        font-size: 14px;
        font-weight: 700;
        line-height: 24px;
        letter-spacing: 0.2px;
        color: variables.$second-text-color;
    }

    &__stars-wrapper {
        margin-top: 15px;
        margin-left: 60px;
    }

    &__stars {
        width: 22px;
    }

    &__author-text {
        min-height: 120px;
        margin-top: 15px;
        margin-left: 60px;
        padding-bottom: 30px;
        margin-right: 60px;
        font-size: 14px;
        font-weight: 400;
        line-height: 20px;
        letter-spacing: 0.2px;
        color: variables.$second-text-color;
    }

}

@media screen and (max-width: 960px) {

    .comment {
        &__item {
            display: grid;
            grid-template-columns: minmax(auto,460px);
            grid-auto-rows: auto;
            grid-auto-flow: dense;
            justify-content: center;
        
        }
    }
}

@media screen and (max-width: 600px) {

    .comment {
        &__item {
            display: grid;
            grid-template-columns: minmax(auto,350px);
            grid-auto-rows: auto;
            grid-auto-flow: dense;
            justify-content: center;
        
        }
    }
}

@media screen and (max-width: 576px) {

    .comment {

        &__header {
            width: 226px;
            min-height: 100px;
            margin: 0 auto;
            text-align: center;
            @include mixins.martel-family;
            font-size: 40px;
            font-weight: 700;
            line-height: 50px;
            letter-spacing: 0.2px;
            color: #fff;
        }
    
        &__text {
            width: 238px;
            min-height: 80px;
            margin: 0 auto;
            margin-top: 10px;
            text-align: center;
            font-size: 14px;
            font-weight: 400;
            line-height: 20px;
            letter-spacing: 0.2px;
            color: #fff;
        }

        &__item {
            display: grid;
            grid-template-columns: minmax(auto,300px);
            grid-auto-rows: auto;
            grid-auto-flow: dense;
            justify-content: center;
        
        }
    }
}

@media screen and (max-width: 450px) {

    .comment {

        &__author {
            width: 90px;
            height: 90px;
            margin-top: 60px;
            margin-left: -40px;
        }

        &__item {
            display: grid;
            grid-template-columns: minmax(auto,250px);
            grid-auto-rows: auto;
            grid-auto-flow: dense;
            justify-content: center;
        
        }
    }
}