@use "../utils/variables";
@use "../utils/mixins";

.footer {
    &__wrapper {
        @include mixins.wrapper;
        display: flex;
        justify-content: space-around;
        margin-top: 80px;
        margin-bottom: 80px;
    }

    &__item-title {
        @include mixins.martel-family;
        font-size: 24px;
        font-weight: 700;
        line-height: 32px;
        letter-spacing: 0.1px;
        color: variables.$deep-blue;
        margin-bottom: 15px;
    }

    &__list {
        list-style: none;
        margin-top: 10px;
    }

    &__link {
        text-decoration: none;
        width: 95px;
        color: variables.$second-text-color;
        font-size: 14px;
        font-weight: 600;
        line-height: 24px;
        letter-spacing: 0.2px;
    }

    &__social-media-link {
        margin-right: 20px;
        
        &:hover {
            opacity: 0.7;
        }
        &:active {
            opacity: 0.3;
        }
    }

    &__mobile-block {
        display: none;
    }
}

@media screen and (max-width: 600px) {

    .footer {
        &__wrapper {
            @include mixins.wrapper;
            display: flex;
            flex-direction: column;
            margin-top: 80px;
            margin-bottom: 80px;
        }

        &__item-title {
            margin-left: 86.5px;
        }

        &__item {
            margin-bottom: 30px ;
            margin-left: 86.5px;
        }

        &__mobile-block {
            display: block;
            width: 209px;
            min-height: 48px;
            margin: 0 auto;
            text-align: center;
            font-size: 14px;
            font-weight: 700;
            line-height: 24px;
            letter-spacing: 0.2px;
            color: variables.$second-text-color;
            margin-bottom: 25px;
        }
    }

    
}