@use "../utils/mixins";
@use "../utils/variables";

.form {
    &__title {
        display: grid;
        grid-template-columns: minmsx(auto, 579px);
        grid-auto-rows: auto;
        margin-top: 50px;
        margin-left: 40px;
        @include mixins.martel-family;
        font-size: 40px;
        font-weight: 700;
        line-height: 50px;
        letter-spacing: 0.2px;
        color: variables.$deep-blue;
    }

    &__feedback {
        display: grid;
        grid-template-columns: minmax(auto, 588px);
        grid-template-rows: 50px;
        grid-gap: 5px;
        margin-left: 50px;
    }

    &__label {
        align-self: end;
        font-size: 14px;
        font-weight: 700;
        line-height: 24px;
        letter-spacing: 0.2px;
        color: variables.$deep-blue;
    }

    &__input {
        border: 1px solid #BDBDBD;
        border-radius: 5px;
        background-color: variables.$white;

        &:active {
            @extend .form__input;
            border: 1px solid #000;
            border-radius: 0px;
        }

        &::placeholder {
            @include mixins.martel-family;
            font-size: 14px;
            font-weight: 400;
            line-height: 28px;
            letter-spacing: 0.2px;
            color: variables.$second-text-color;
            padding-top: 11px;
            padding-left: 21px;
        }
    }

    &__button {
        margin-top: 40px;
        margin-bottom: 40px;
        background-color: variables.$brown;
        color: #fff;
        font-size: 14px;
        font-weight: 700;
        line-height: 28px;
        letter-spacing: 0.2px;
        text-align: center;
        border-radius: 5px;
    }

    &__description {
        display: none;
    }


}