@use "../utils/mixins";
@use "../utils/variables";

header {
    background-color: variables.$background;
}

.header__block-wrapper {
    @include mixins.wrapper;
    min-height: 772px;
    background: url(../../img/background.jpg);
}

.header__menu-mobile {
    display: none;
}

.header__menu-disappear {
    display: none;
}

.header__wrapper {
    padding-left: 136px;
    display: flex;
}

.header__logo {
    margin-top: 23px;
    width: 186px;
    min-height: 58px;
}

.header__navigation {
    margin-top: 40px;
    margin-left: 13px;
}

.header__promo {
    display: grid;
    grid-template-columns:  minmax(auto, 509px);
    grid-template-rows: auto;
    margin-top: 125px;
    margin-left: 195px;
    min-height: 173px;
}

@media screen and (max-width: 720px) {

    .header {
        &__wrapper {
            padding-left: 35px;
            padding-right: 35px;
            display: flex;
            justify-content: space-between;
        }

        &__navigation {
            display: none;
        }

        &__menu-mobile {
            display: block;
            margin-top: 40px;
            margin-left: 13px;
        }

        &__menu-disappear {
            display: block;
        }
    }
    
}

@media screen and (max-width: 576px) {

    .header__promo {
        display: block;
        width: 327px;
        margin: 0 auto;
        margin-top: 125px;
        min-height: 173px;
    }
    
}

