@use "../utils/variables";
@use "../utils/mixins";

.introduction {

    &__title {
        text-align: center;
        font-size: 40px;
        font-weight: 700;
        line-height: 50px;
        letter-spacing: 0.2px;
        @include mixins.martel-family;
        color: variables.$deep-blue;
    }
    &__text {
        width: 468px;
        margin: 0 auto;
        text-align: center;
        margin-top: 15px;
        font-size: 14px;
        font-weight: 400;
        line-height: 20px;
        letter-spacing: 0.2px;
        color: variables.$second-text-color;
    }
}

@media screen and (max-width: 576px) {

    
.introduction {

    &__title {
        text-align: center;
        font-size: 40px;
        font-weight: 700;
        line-height: 50px;
        letter-spacing: 0.2px;
        @include mixins.martel-family;
        color: variables.$deep-blue;
    }
    &__text {
        width: 205px;
        margin: 0 auto;
        text-align: center;
        margin-top: 15px;
        font-size: 14px;
        font-weight: 400;
        line-height: 20px;
        letter-spacing: 0.2px;
        color: variables.$second-text-color;
    }
}
    
}