@use "../utils/variables";
@use "../utils/mixins";

.main-information {
    margin-bottom: 100px;

    &__video {
        width: 500px;
        min-height: 442px;
        margin-top: -50px;
        margin-left: 153px;
    }

}

@media screen and (max-width: 1100px) {

    .main-information {

        &__video {
            width: 400px;
            min-height: 442px;
            margin-top: -50px;
            margin-left: 93px;
        }
    
    }
    
}



@media screen and (max-width: 850px) {

    .main-information {

        &__video {
            display: block;
            width: 400px;
            min-height: 442px;
            margin: 0 auto;
        }
    
    }
}
@media screen and (max-width: 460px) {

    .main-information {

        &__video {
            display: block;
            width: 333px;
            min-height: 442px;
            margin: 0 auto;
        }
    
    }
}

@media screen and (max-width: 350px) {

    .main-information {

        &__video {
            display: block;
            width: 290px;
            min-height: 442px;
            margin: 0 auto;
        }
    
    }
}