@use "../utils/mixins";
@use "../utils/variables";

.navigation {

    &__item {
        display: flex;
    }

    &__list {
        list-style: none;
        margin-left: 24px;
    }

    &__link {
        @include mixins.open-sans-family;
        text-decoration: none;
        font-size: 14px;
        font-weight: 600;
        line-height: 24px;
        letter-spacing: 0.2px;
        color: variables.$second-text-color;

        &:hover {
            color: variables.$deep-blue;
        }
    }

}