@use "../utils/variables";
@use "../utils/mixins";

.promo {

    &__title {
        display: block;
        width:509px;
        min-height: 195px;
        text-align: left;
        @include mixins.martel-family;
        font-size: 58px;
        font-weight: 900;
        line-height: 60px;
        letter-spacing: 0.2px;
        color: variables.$deep-blue;
    }

    &__information {
        display: block;
        width: 376px;
        min-height: 60px;
        @include mixins.montserrat-family;
        font-size: 20px;
        font-weight: 500;
        line-height: 30px;
        letter-spacing: 0.2px;  
        color: variables.$second-text-color; 
    }

    &__links {
        display: flex;
        min-height: 48px;



    }

    &__link {
        display: block;
        width: 182px;
        min-height: 48px;
        text-decoration: none;
        margin-top: 35px;
        margin-left: 10px;
        padding-top: 10px;
        font-size: 14px;
        font-weight: 700;
        line-height: 28px;
        letter-spacing: 0.2px;
        background-color: transparent;
        border: 1px solid variables.$brown;
        border-radius: 37px;
        color: variables.$brown;
        text-align: center;
        cursor: pointer;
        
        &--brown {
            margin-left: -10px;
            @extend .promo__link;
            background-color: variables.$brown;
            color:white;
        }
        
        

    }

    &__link-consultation {

        @extend .promo__link;
        border: none;
        width: 300px;
        margin-top: 30px;
        margin-left: -55px;
        font-weight: 400;

        &:hover {
            color: black;
        }

    }

}

@media screen and (max-width: 720px) {

    .promo {

        &__title {
            display: block;
            width:327px;
            min-height: 150px;
            text-align: center;
            @include mixins.martel-family;
            font-size: 40px;
            font-weight: 00;
            line-height: 50px;
            letter-spacing: 0.2px;
            color: variables.$deep-blue;
        }

        &__information {
            display: block;
            width: 279px;
            min-height: 120px;
            @include mixins.montserrat-family;
            text-align: center;
            padding-left: 15px;
            font-size: 20px;
            font-weight: 500;
            line-height: 30px;
            letter-spacing: 0.2px;  
            color: variables.$second-text-color; 
        }
    
    }
}

@media screen and (max-width: 420px) {

    .promo__links {
        display: flex;
        flex-direction: column;
        min-height: 48px;
    }



    
    .promo__title {
        display: block;
        width:320px;
        min-height: 150px;
        text-align: center;
        @include mixins.martel-family;
        font-size: 37px;
        font-weight: 700;
        line-height: 50px;
        letter-spacing: 0.2px;
        color: variables.$deep-blue;
    }

    .promo__link {

        display: block;
        margin: 0 auto;
        width: 182px;
        min-height: 48px;
        text-decoration: none;
        margin-top: 25px;
        padding-top: 10px;
        margin-bottom: 20px;
        font-size: 14px;
        font-weight: 700;
        line-height: 28px;
        letter-spacing: 0.2px;
        background-color: transparent;
        border: 1px solid variables.$brown;
        border-radius: 37px;
        color: variables.$brown;
        text-align: center;
        cursor: pointer;
        
        &--brown {
            @extend .promo__link;
            background-color: variables.$brown;
            color:white;
            margin-bottom: 0px;
        }

    }
    
}

