@use "../utils/variables";
@use "../utils/mixins";

.request {
    &__information {
        background-color: variables.$deep-blue;
        display: block;
        min-height: 807px;
    }

    &__text-wrapper {
        @include mixins.wrapper;
        display: flex;
        justify-content: center;
    }

    &__header {
        display: grid;
        grid-template-columns: minmax(auto, 456px);
        grid-template-rows: minmax(100, auto);
        margin-top: 100px;
        margin-left: 15px;
        @include mixins.martel-family;
        font-size: 40px;
        font-weight: 700;
        line-height: 50px;
        letter-spacing: 0.2px;
        color: #fff;
    }

    &__text {
        display: grid;
        grid-template-columns: minmax(auto, 414px);
        grid-template-rows: minmax(100, auto);
        margin-top: 15px;
        margin-left: 15px;
        font-size: 14px;
        font-weight: 400;
        line-height: 20px;
        letter-spacing: 0.2px;
        color: #fff;
    }

    &__mainland {
        width: 414px;
        height: 269px;
        margin-top: 123px;
        margin-left: 30px;
    }

    &__form-wrapper {
        @include mixins.wrapper;
        min-height: 737px;
    }

    &__form-card {
        display: flex;
        justify-content: center;
        margin-top: -342px;
    }



    &__form {
        display: grid;
        grid-template-columns: minmax(auto, 688px);
        grid-template-rows: 1fr 4fr;
        background-color: variables.$white;
    }
}

@media screen and (max-width: 1100px) {
    .request {
        &__text-wrapper {
            @include mixins.wrapper;
            display: grid;
            grid-auto-columns: auto;
            grid-auto-rows: auto;
            justify-items: center;
        }

        &__mainland {
            width: 313px;
            height: 169px;
            margin-top: 123px;
            margin-left: 30px;
        }

        &__form-card {
            display: flex;
            justify-content: center;
            margin-top: 0px;
        }

        
    }
    
}


@media screen and (max-width: 985px) {
    
    .request {

        &__form-card {
            display: flex;
            flex-direction: column;
        }

        &__form {
            display: grid;
            grid-template-columns: minmax(auto, 688px);
            grid-template-rows: 1fr 4fr;
            justify-items: center;
            justify-content: center;
            background-color: variables.$white;
            margin-right: 5px;
        }

        &__form-photo {
            margin: 0 auto;
            display: grid;
            grid-template-columns: minmax(auto, 414px);
            justify-items: center;
        }
    }

}

@media screen and (max-width: 460px) {
    .request {

        &__header {
            display: block;
            width: 310px;
            min-height: 150px;
            margin-top: 125px;
        }

        &__text {
            display: block;
            width: 279px;
            min-height: 160px;

        }

        &__mainland {
            width: 250px;
            height: auto;
            margin-top: 80px;
            margin-left: 0px;
        }


        
    }
    
}

@media screen and (max-width: 420px) {

    .request {
        &__form-photo {
            width: 300px;
            height: auto;
        }
    }
    
}
