@use "../utils/variables";

.skip-links {
    margin: 0;
    padding: 0;
    list-style-type: none;

    &__link {
        text-decoration: none;
        color: white;
        position: absolute;
        top: -3em;

        &:focus {
            margin-left: 30px;
            top: 0;
            width: 200px;
            min-height: 50px;
            background-color: variables.$deep-blue;
            padding-top: 20px;
            text-align: center;
        }

        &:hover {
            color: variables.$second-text-color ;
        }
    }
}

