@use "../utils/variables";
@use "../utils/mixins";

.text-information {
    display: block;
    width: 300px;
    min-height: 424px;
    margin-right: 15px;
    margin-left: 15px;
    margin: 0 auto;

    &__title {
        width: 321px;
        min-height: 100px;
        text-align: left;
        font-size: 40px;
        font-weight: 700;
        line-height: 50px;
        letter-spacing: 0.2px;
        color: variables.$deep-blue;
        @include mixins.martel-family;
    }

    &__text {
        width: 306px;
        min-height: 60px;
        margin-top: 10px;
        font-size: 14px;
        font-weight: 400;
        line-height: 20px;
        letter-spacing: 0.2px;
        color: variables.$second-text-color;
    }

    &__cards {
        display: flex;
        margin-top: 30px;

    }

    &__icon {
        width: 32px;
        height: 32px;
    }

    &__card-wrapper {
        margin-left: 20px;
    }

    &__card-title {
        @include mixins.martel-family;
        font-size: 16px;
        font-weight: 700;
        line-height: 24px;
        letter-spacing: 0.1px;
        color: variables.$deep-blue;
    }

    &__card-text {
        margin-top: 5px;
        font-size: 16px;
        font-weight: 700;
        line-height: 24px;
        letter-spacing: 0.2px;
        color: variables.$second-text-color;
    }

}

@media screen and (max-width: 576px) {

    .text-information {
        display: block;
        width: 280px;
        min-height: 424px;

    }
    
}

@media screen and (max-width: 460px) {

    .text-information {
        display: block;
        margin: 0 auto;

        &__title {
            width: 280px;
            min-height: 100px;
            margin: 0 auto;
        }

        &__text {
            width: 280px;
            min-height: 60px;
            margin-top: 10px;
            font-size: 14px;
            font-weight: 400;
            line-height: 20px;
            letter-spacing: 0.2px;
            color: variables.$second-text-color;
        }


    }
    
}